<div
  class="w-full relative border border-[#E7E7E7] flex flex-col py-4 px-6 gap-2 shadow-sm rounded"
>
  <div>
    <h4 class="ops-topic-subject font-bold text-primary">{{ assunto }}</h4>
    <p class="font-medium text-[#5C5C5C]">{{ autor }}</p>
  </div>

  <div class="w-full h-16 text-[#4D4D4D]">
    <p>
      {{ texto }}
    </p>
  </div>
  <div class="w-full flex gap-4 text-sm items-center text-[#757575]">
    <a class="material-icons text-primary cursor-pointer">more_vert</a>
    <a
      class="material-icons bg-primary px-2 py-1 text-white rounded cursor-pointer"
    >
      favorite
    </a>
    <a>{{ numeroLikes }} like</a>
    <a>{{ numeroRespostas }} resposta</a>
  </div>
</div>
