<nav class="w-full h-full flex flex-col gap-2 bg-white drop-shadow-xl">
  <h1
    class="w-full bg-gradient-to-b from-secondary to-primary text-center text-2xl font-medium font-roboto text-white py-[14px] uppercase"
  >
    slaca 2019
  </h1>
  <img src="assets/images/logotipo.png" alt="" />
  <div class="w-full flex flex-col">
    <a
      class="font-quick border-b-2 py-2 pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/home"
    >
      Apresentação
    </a>
    <a
      class="font-quick border-b-2 py-2 pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/about"
      >Comitês</a
    >
    <a
      class="font-quick border-b-2 py-2 pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/contact"
      >Autores</a
    >
    <a
      class="font-quick border-b-2 py-2 pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/contact"
      >Eixos temáticos</a
    >
    <a
      class="font-quick border-b-2 py-2 pl-6 relative border-[#E7E7E7] bg-tertiary"
      routerLink="/contact"
    >
      <div
        class="bg-gradient-to-b from-secondary to-primary w-[5px] h-full absolute left-0 top-0"
      ></div>
      Trabalhos
    </a>
    <a
      class="font-quick border-b-2 py-2 pl-6 border-[#E7E7E7] hover:bg-tertiary"
      routerLink="/contact"
      >Contato</a
    >
  </div>
</nav>
