<div class="flex flex-row">
  <app-nav-menu class="w-[16%] min-h-screen"></app-nav-menu>
  <section class="w-[93%] flex flex-col">
    <app-header></app-header>
    <!-- TO DO: Implementar sessão de vídeo + acões + detalhes -->
    <!-- <div class="w-full p-11">
      <div>
        <h2 class="font-roboto text-xl font-black text-primary">
          Análise sensorial de preparações funcionais desenvolvidas para
          escolares entre 09 e 15 anos, do município de Campinas/SP
        </h2>
      </div>
      <aside>
        <div>
          <div><button></button><button></button><button></button></div>
          <p>Como citar este trabalho?</p>
          <div>
            <h4>Detalhes</h4>
            <div>
              <p>Tipo de Apresentação: Pôster</p>
              <p>Eixo temático: <span>Alimentação e saúde (AS)</span></p>
              <p>
                Palavras-chaves:
                <span>Alimentos funcionais, alimentação escolar.</span>
              </p>

              <p>Autores:</p>

              Galileo Galilei¹ Berta Lange de Morretes² Isaac Newton³ Cesar
              Lattes¹ Stephen Hawking⁴ ¹Universidade Estadual de Campinas
              ²Universidade de São Paulo ³Instituto Nacional de Pesquisas
              Espaciais ⁴Universidade Federal do Rio de Janeiro
            </div>
          </div>
        </div>
      </aside>
    </div> -->
  </section>
</div>
