<header
  class="w-full flex flex-wrap md:flex-row justify-between py-1 px-9 bg-tertiary items-center gap-4"
>
  <div class="flex flex-col gap-[2px]">
    <p class="text-sm leading-none">
      Anais do Simpósio Latino Americano de Ciências de Alimentos
    </p>
    <h3 class="text-xl leading-5">
      Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
    </h3>
    <span class="leading-none">ISSN: 1234-5678</span>
  </div>
  <button class="flex flex-row gap-1 border border-[#CCCCCC] p-2 rounded">
    <img src="assets/icons/language.jpg" alt="" />
    <span>PT, BR</span>
    <img src="" alt="" />
  </button>
  <div class="flex gap-4 items-center">
    <div class="flex flex-col text-end font-quick">
      <p class="text-sm">Bem vindo!</p>
      <p class="text-xs">alguem12@galoascience.com</p>
    </div>
    <div class="relative">
      <img
        class="rounded-full w-8 h-8 min-w-[2rem]"
        src="assets/images/profilepicture.jpeg"
        alt=""
      />
      <span
        class="absolute top-0 right-0 bg-red-500 text-white py-[1px] rounded-full text-[0.625rem] leading-[0.625rem] w-3 h-3 text-center"
      >
        2
      </span>
    </div>
  </div>
</header>
